#  Local .terraform directories
**/.terraform/*
*.lock.hcl
# .tfstate files
*.tfstate
*.tfstate.*

# .tfvars files
*.tfvars

# Local .vscode directories
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

